___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

In [1]:
s = 'hello'

In [2]:
s

'hello'

In [7]:
x = input('enter name')
y = input('enter name')
print(x[::-1],y[::-1])

enter namenavnath
enter namebagal
htanvan lagab

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

In [ ]:
7**4

2401

** What is 7 to the power of 4?**

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [ ]:
s="hi there Yogesh!"

In [ ]:
s.split()

['hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
'The diameter of {} is {} kilometer'.format(planet,diameter)

'The diameter of Earth is 12742 kilometer'

:** Given this nested list, use indexing to grab the word "hello" **

In [50]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [55]:
lst[3][1][2][0]

'hello'

In [ ]:
lst = [1,2]

In [56]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [57]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [37]:
def fun1(mail):
    return mail.split('@')[-1]

In [38]:
fun1('abc@gmail.com')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [39]:
def findDog(st):
    return 'dog' in st.lower().split()

In [42]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [43]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [46]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [48]:
seq = ['soup','dog','salad','cat','great']

In [49]:
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    pass

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [1]:
def catch_speed(speed,birthday):
    if birthday:
        new_speed = speed -5
    else:
        new_speed = speed
    if new_speed > 80:
        return "BIG TICKET"
    elif new_speed>60:
        return "SMALL TICKET"
    else:
        return "NO TICKET"

In [2]:
catch_speed(85,True)

'SMALL TICKET'

In [3]:
catch_speed(63,True)

'NO TICKET'

In [ ]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [5]:
s = input("Enter the input: ")
num = ""
a = [0,1,2,3,4,5,6,7,8,9]
if s =="":
    s=input("Please enter some input")
else: 
    if s[0]=='-':
        num = num+s[0]
for c in s:
    if c in str(a): #we  cant compare string with int so we write str(a) not just as
        num = num+c
print(num)

Enter the input:
Please enter some inputfhr566
566

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [ ]:
#reverse is possible only in string not in int

In [4]:
num1 = input("Enter the number: ")
num2 = num1[::-1]
num3 = str(int(num1) + int(num2))
while num3 != num3[::-1]:
    num3 = str(int(num3) + int(num3[::-1]))
    print("Number is ", num3)
    print("Reverse is ",num3[::-1])
print("The number is palindrome:",num3)

Enter the number: 78
Number is  726
Reverse is  627
Number is  1353
Reverse is  3531
Number is  4884
Reverse is  4884
The number is palindrome: 4884

In [ ]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [21]:
def find_five_digit():
    for i in range(0,9,1):
        a = i
        b = i-2
        c = i-4
        d = i-6
        e = i-4
        if(c+d+e == a):
            if(a+b+c+d+e == 19):
                return int(str(a)+str(b)+str(c)+str(d)+str(e))

print(find_five_digit())

75313

# Great job!